﻿<?xml version="1.0" encoding="utf-8"?>
<table border="1">
  <thead>
    <tr>
      <th>Type</th>
      <th>Count</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>58</td>
      <td>28.25 kB</td>
    </tr>
    <tr>
      <td>.c</td>
      <td>14</td>
      <td>28.05 kB</td>
    </tr>
    <tr>
      <td>.C</td>
      <td>2</td>
      <td>3.42 kB</td>
    </tr>
    <tr>
      <td>.cabal</td>
      <td>4</td>
      <td>1.54 kB</td>
    </tr>
    <tr>
      <td>.cpp</td>
      <td>3</td>
      <td>5.08 kB</td>
    </tr>
    <tr>
      <td>.cs</td>
      <td>3</td>
      <td>7.03 kB</td>
    </tr>
    <tr>
      <td>.csproj</td>
      <td>1</td>
      <td>1.66 kB</td>
    </tr>
    <tr>
      <td>.exe</td>
      <td>2</td>
      <td>12.60 MB</td>
    </tr>
    <tr>
      <td>.h</td>
      <td>4</td>
      <td>1.01 kB</td>
    </tr>
    <tr>
      <td>.hi</td>
      <td>2</td>
      <td>1.84 kB</td>
    </tr>
    <tr>
      <td>.hs</td>
      <td>40</td>
      <td>20.29 kB</td>
    </tr>
    <tr>
      <td>.hsplay</td>
      <td>6</td>
      <td>850.00 B</td>
    </tr>
    <tr>
      <td>.idx</td>
      <td>1</td>
      <td>5.69 kB</td>
    </tr>
    <tr>
      <td>.linq</td>
      <td>3</td>
      <td>1.91 kB</td>
    </tr>
    <tr>
      <td>.md</td>
      <td>1</td>
      <td>342.00 B</td>
    </tr>
    <tr>
      <td>.o</td>
      <td>2</td>
      <td>14.94 kB</td>
    </tr>
    <tr>
      <td>.pack</td>
      <td>1</td>
      <td>732.92 kB</td>
    </tr>
    <tr>
      <td>.pbxproj</td>
      <td>7</td>
      <td>59.92 kB</td>
    </tr>
    <tr>
      <td>.pdf</td>
      <td>16</td>
      <td>6.78 MB</td>
    </tr>
    <tr>
      <td>.py</td>
      <td>4</td>
      <td>3.25 kB</td>
    </tr>
    <tr>
      <td>.pyproj</td>
      <td>2</td>
      <td>3.86 kB</td>
    </tr>
    <tr>
      <td>.sample</td>
      <td>40</td>
      <td>61.07 kB</td>
    </tr>
    <tr>
      <td>.sln</td>
      <td>3</td>
      <td>2.46 kB</td>
    </tr>
    <tr>
      <td>.swp</td>
      <td>1</td>
      <td>12.29 kB</td>
    </tr>
    <tr>
      <td>.txt</td>
      <td>4</td>
      <td>3.57 kB</td>
    </tr>
    <tr>
      <td>.xcworkspacedata</td>
      <td>7</td>
      <td>1.13 kB</td>
    </tr>
    <tr>
      <td>.yaml</td>
      <td>4</td>
      <td>474.00 B</td>
    </tr>
  </tbody>
</table>